

/* TIPOGRAFÍA  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TIPOGRAFÍA  */


a:link, a:visited, a:active {text-decoration:none;}

body {font-family: 'Montserrat', sans-serif;}
.bg-orange {background: #EA5C1A}
.bg-orange:hover {background: #EF692B; transition: 0.3s;}
.bg-orange a {color: white}



header nav {color:#555;border-bottom: 3px solid #EA5C1A; -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.7); -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.7);box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.7);background-color: #fff;}
header nav li.nav-item {font-size: .9rem;}
header nav img {width: 33%;}
.navbar .navbar-collapse a::after { content: ''; display: block; width: 0; height: 2px; background: #EA5C1A; transition: width .3s; margin: 6px 0 0 0;}
.navbar .navbar-collapse a:hover::after {width: 100%;}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {color: #3498A7;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color:#EA5C1A}
.navbar-light .navbar-nav .active>.nav-link::after, .navbar-light .navbar-nav .nav-link.active::after, .navbar-light .navbar-nav .nav-link.show::after, .navbar-light .navbar-nav .show>.nav-link::after {color:#EA5C1A;width: 100%;} 

.imagen-destacada {background-repeat: no-repeat; background-position: center center; background-attachment: fixed; -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover;}
.imagen-destacada h1 {font-weight: 900}

.bg-parrafo {background-color: #E8E8E8}
.bg-parrafo h5 {color:#6C6C6C;}

.card {border:1px solid #EA5C1A;}
.card img {width: 150px; height: auto}
.card h5{color:#269896; font-weight: 900}

.bg-proveedor {background-color: #4DABA9; color: white;}
.bg-proveedor h5 {font-size:3rem;}

footer {background-color: #555555; color: white}
footer li {list-style: none;}